## Ignore Visual Studio temporary files

# User-specific files 
*.suo 
*.user 
*.userosscache 
*.sln.docstates 

# User-specific files (MonoDevelop/Xamarin Studio) 
*.userprefs 

# Visual Studio 2015 cache/options directory 
.vs/

# Visual C++ cache files 
ipch/ 
*.aps 
*.ncb 
*.opendb 
*.opensdf 
*.sdf 
*.cachefile 

# Visual C++ cache files 
ipch/ 
*.aps 
*.ncb 
*.opendb 
*.opensdf 
*.sdf 
*.cachefile
*.VC.opendb

# Build artifacts (careful here, some of the bins and libs are checked in)
Temp/
bin/
Ouroboros/Lib/
